
    <footer>
      <p class="sixty">
      We strive to foster supportive and inclusive environments for all, and strongly encourage you to read the <a href="https://www.diglib.org/about/code-of-conduct/" title="DLF Code of Conduct">DLF Code of Conduct</a> and enforce it or a similar code at your event.</p>
      <p>
      <p class="sixty">This website is <a href="{{ site.repository }}" title="Website source code on GitHub">open source</a> and Creative Commons licensed (<a href="http://creativecommons.org/licenses/by/4.0/">CC-BY</a>). Theme based on <a href="https://csvconf.com/">csv,conf</a>.</p>
      <p class="sixty">
        Facilitated by a dedicated <a href='/about/'>team of volunteers</a> in collaboration with the <a href="https://diglib.org/">Digital Library Federation</a> and its new <a href="https://www.diglib.org/transparency-accountability/">interest group</a> on Records Transparency/Accountability.
      </p>
    </footer>
