
    <footer>
      <p class="sixty">
      We strive to be a supportive and inclusive environment to all involved. We encourage you to read the <a href="http://confcodeofconduct.com/" title="Conf Code of Conduct Website">Conf Code of Conduct</a> and will be enforcing it at any events we host.</p>
      <p>
      <p class="sixty">The code for this website is <a href="https://github.com/endangereddataweek/endangereddataweek.org" title="Website source code on GitHub">open source</a>. <a href="http://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0 International (CC-BY)</a>. Theme based on <a href="https://csvconf.com/">csv,conf</a>.</p>
      <p class="sixty">
        Facilitated by Brandon Locke, Jason A. Heppler, and Sarah Melton.
      </p>
    </footer>

    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <script src="js/scripts.js"></script>
