<footer>

  <hr class="bar" />

  <p>
    <span class="logo">
      <a href="https://www.diglib.org">
        <i class="icon-dlf-logo dlf-color"></i>
        <span class="dlf-font">DLF</span>
      </a>
    </span>
    We work to foster supportive and inclusive environments for EDW, and strongly encourage you to read the <a href="https://www.diglib.org/about/code-of-conduct/" title="DLF Code of Conduct">DLF Code of Conduct</a>. Please enforce it or a similar code
    at your event. <a href="https://twitter.com/search?q=%23EndangeredData">#EndangeredData</a> Week is facilitated by a dedicated <a href='/about/'>team of volunteers</a> in collaboration with the <a href="https://diglib.org/">Digital Library Federation</a> and its new <a href="https://www.diglib.org/transparency-accountability/">interest group</a> on Records Transparency/Accountability. Additional supporters include <a href="https://www.datarefuge.org">DataRefuge</a>, <a href="https://science.mozilla.org">Mozilla Science Lab</a>, the <a href="http://ndsa.org">NDSA</a>, and <a href="https://www.clir.org/">CLIR</a>. <a href="mailto:endangereddata@diglib.org">Questions?</a>
  </p>
  <p>This website is <a href="{{ site.repository }}" title="Website source code on GitHub">open source</a> and Creative Commons licensed (<a href="http://creativecommons.org/licenses/by/4.0/">CC-BY</a>). Theme based on <a href="https://csvconf.com/">csv,conf</a>.</p>

</footer>

<script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
{% for js in page.javascript %}
   <script src="{{ js }}"></script>
{% endfor %}
<script src="/js/scripts.js"></script>

<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "Event",
  "name": "{{ page.title }}",
  "description": "{{ page.excerpt | trim | escape }}",
  "startDate": "{{ page.date | date: "%Y-%m-%d" }}T{{ page.time | date: "%H:%M" }}",
  "image": "{{ 'http://endangereddataweek.org/img/edw-logo.png' }}",
  "url": "{{ page.website }}",
  "sponsor": {
    "@type": "Organization",
    "name": "{{ page.location_city }}"
  },
  "location": {
    "@type": "Place",
    "name": "{{ page.location_city }}",
    "address": {
      "@type": "PostalAddress",
      "addressLocality": "{{ page.locality }}",
      "addressRegion": "{{ page.region }}",
      "postalCode": "{{ page.postalcode }}",
      "streetAddress": "{{ page.address }}"
    },
    "hasMap": "https://www.google.com/maps/@{{ page.latitude }},{{ page.longitude }},14z?hl=en&authuser=0"
  }

}
</script>
