<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="https://endangereddataweek.org">
      <img src="/img/edw-cloud.png" width="50" height="78" role="logo" aria-label="Endangered Data Week logo" alt="Endangered Data Week logo"> <strong>Endangered Data Week</strong>
    </a>

    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navMenu">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navMenu" class="navbar-menu">
    <div class="navbar-start">

        {% for link in site.navigation %}
		    <a class="navbar-item" href="{{ link.url }}">
          <span itemprop="name">{{ link.title }}</span>
        </a>
      {% endfor %}
      <a class="navbar-item" href="https://github.com/endangereddataweek/"><span itemprop="name"><i class="fab fa-github-square"></i></span></a>
      <a class="navbar-item" href="https://twitter.com/endangereddata"><span itemprop="name"><i class="fab fa-twitter-square"></i></span></a>
      <a class="navbar-item" href="https://medium.com"><span itemprop="name"><i class="fab fa-medium"></i></span></a>
      </div>
    </div>
</nav>
