---
layout: default
---

<h2>{% if page.virtual.size > 0 %} <i class="fa fa-globe orange"></i> {% endif %}{{ page.title }}</h2>
{% if page.virtual.size > 0 %}
<strong>This is a virtual/online event.</strong><br /><br />
{% endif %}

<strong>Date &amp; Local Time:</strong> {{ page.date | date: "%Y-%m-%d" }} {{ page.time }}  <br/>

<strong>Location:</strong> {{ page.location_city}} | {{page.location_physical }}

{% if page.website.size > 0 %}
<br /><strong>Website:</strong> <a href="{{ page.website }}">{{ page.website }}</a>
{% endif %}

{% if page.audio_url.size > 0 %}
  {% include audio.html %}
{% endif %}

{% if page.video_url.size > 0 %}
  {% include video.html %}
{% endif %}

{{ content }}

  {% if page.email != '' %}
    <strong>Contact:</strong> <a href="mailto:{{ page.email }}">{{ page.author }}</a></h4>
  {% else %}
    <strong>Contact {{ page.author }}</strong>
  {% endif %}

<div class="meta sixty">
  {% include share_buttons.html %}
</div>
