---
layout: default
---
<div class="h-event" itemscope itemtype="http://schema.org/Event">

  <h2 class="p-name" itemprop="name">{% if page.virtual.size > 0 %} <i class="fa fa-globe orange"></i> {% endif %}{{ page.title }}</h2>
  {% if page.virtual.size > 0 %}
  <strong>This is a virtual/online event.</strong><br /><br />
  {% endif %}
  <strong>Date &amp; Local Time:</strong> <time itemprop="startDate" class="dt-start" datetime="{{ page.date | date: "%Y-%m-%d" }} {{page.time | date: "%H:%M"}}">{{ page.date | date: "%Y-%m-%d" }} {{ page.time }}</time>  <br/>
  <strong>Location:</strong>
    <span class="p-location" itemprop="location" itemscope itemtype="http://schema.org/Place">{{ page.location_city}} | {{page.location_physical }}
      <span class="h-geo">
        <span class="p-latitude">{{ page.latitude }}</span>
        <span class="p-longitude">{{ page.longitude }}</span>
      </span>
    </span>

  {% if page.website.size > 0 %}
  <br /><strong>Website:</strong> <a class="u-url" href="{{ page.website }}">{{ page.website }}</a>
  {% endif %}

  {% if page.audio_url.size > 0 %}
    {% include audio.html %}
  {% endif %}

  {% if page.video_url.size > 0 %}
    {% include video.html %}
  {% endif %}
  <p class="p-description" itemprop="description">
    {{ content }}
  </p>

  {% if page.email != '' %}
  <strong>Contact:</strong> <a href="mailto:{{ page.email }}"><span class="p-organizer">{{ page.author }}</span></a></h4>
  {% else %}
  <strong>Contact <span class="p-organizer">{{ page.author }}</span></strong>
  {% endif %}

  <div class="meta sixty">
    {% include share_buttons.html %}
  </div>

</div>
